<div class="row flex-column d-flex align-items-center justify-content-center w-100 h-100" style="width: 100vw; height: 100vh; position: absolute; top: 0; left: 0; margin: 0">
  <div class="col-3  card flex-column d-flex pt-4 pb-5">
    <h5 class="text-center mb-4">Ingresar un nuevo producto</h5>
    <form [formGroup]="form" class="row gap-4 px-5" (submit)="onSubmit()">
      <input type="text" class="form-control" placeholder="Nombre del producto" formControlName="name">
      <input type="number" class="form-control" placeholder="Cantidad del producto" formControlName="count">
      <input type="submit" class="btn btn-success" value="Ingresar">
    </form>
    <h6 class="text-center mt-4 mb-2">Productos ingresados</h6>
    <div style="overflow: auto; height: 120px;" class="card  mx-4 py-3">
      <div *ngFor="let product of products" class="row text-center w-100">
        <p><strong>Nombre:</strong> {{product.name}} - <strong>Cantidad:</strong>{{product.count}}</p>
      </div>
    </div>
  </div>
</div>
